<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
 background: black;
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">พรปีใหม่</a>
                    </li>
                    <li >
                        <a href="kingsong2">ใกล้รุ่ง</a>
                    </li>
                    <li >
                        <a href="kingsong3">ยามเย็น</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-12">
                <h1 class="page-header" align="center" style="color: white; font-size: 30px;">ยามเย็น</h1>
            </div>
            <div class="col-md-6" align="center" style="color: white; font-size: 16px;">
			<p>แดดรอนรอน</p>
			<p>เมื่อทินกรจะลั</p>บเหลี่ยมเมฆา</p>
			<p>ทอแสงเรืองอร่ามช่างงามตา</p>
			<p>ในนภาสลับจับอัมพร</p>
			<p>แดดรอนรอน</p>
			<p>เมื่อทินกรจะลาโลกไปไกล</p>
			<p>ยามนี้จำต้องพรากจากดวงใจ</p>
			<p>ไกลแสนไกลสุดห่วงยอดดวงตา</p>
			<p>แต่ก่อนเคยคลอเคลียกัน</p>
			<p>ทุกวันคืนรื่นอุรา</p>
			<p>ต้องอยู่เดียวเปลี่ยนวิญญาณ์</p>	
			<p>เหมือนดังนภาไร้ทินกร</p>
			<p>แดดรอนรอน</p>
			<p>หากทินกรจะลาโลกไปไกล</p>
			<p>ความรักเราคงอยู่คู่กันไป</p>	
			<p>ในหัวใจคงอยู่คู่เชยชม</p>
			<p>แดดรอนรอน</p>	
			<p>หมู่มวลภมรบินลอยล่องตามลม</p>
			<p>คลอเคล้าพฤกษาชาติชื่นเชยชม</p>	
			<p>ชมสมตามอารมณ์ล่องเลยไป</p>
			<p>ลิ่วลมโชย</p>	
			<p>กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย</p>
			<p>ยามสายัณห์พลันพรากจากดวงใจ</p> 
			<p>คอยแสงทองวันใหม่กลับคืนมา</p>
			<p>แต่ก่อนเคยคลอเคลียกัน</p>
			<p>ทุกวันคืนชื่นอุรา</p>
			<p>ต้องอยู่เดียวเปลี่ยววิญญาณ์</p>	
			<p>เหมือนดังนภาไร้ทินกร</p>
			<p>โอ้ยามเย็น</p>	
			<p>จวบยามนี้เป็นเวลาสุดอาวรณ์</p>
			<p>ยามไร้ความสว่างห่างทินกร</p>	
			<p>ยามรักจำจะจรจากกันไป</p>
     
            </div>
            <div class="col-md-6">
                <img class="img-circle" src="http://img.tnews.co.th/userfiles/images/%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%94%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%9E%E0%B8%97%E0%B8%A2%E0%B9%8C1.jpg" alt="" style="width: 650px;height: 400px;">
            </div>
        </div>

</body>
</html>
