<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
 background: black;
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">พรปีใหม่</a>
                    </li>
                    <li >
                        <a href="kingsong2">ใกล้รุ่ง</a>
                    </li>
                    <li >
                        <a href="kingsong3">ยามเย็น</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-12">
                <h1 class="page-header" align="center" style="color: white; font-size: 30px;">ใกล้รุ่ง</h1>
            </div>
            <div class="col-md-6" align="center" style="color: white; font-size: 16px;">
			<p>ได้ยินเสียงแว่วดังแผ่วมาแต่ไกลไกล</p>
			<p>ชุ่มชื่นฤทัยหวานใดจะปาน</p>
			<p>ฟังเสียงบรรเลงกับเพลงประสาน</p>
			<p>จากทิพย์วิมานประทานกล่อมใจ</p>
			<p>ใกล้ยามเมื่อแสงทองส่อง</p>
			<p>ฉันคอยมองจ้องฟ้าเรืองรำไร</p>
			<p>ลมโบกโบยมาหนาวใจ</p>
			<p>รอช้าเพียงไรตะวันจะมา</p>
			<p>เพลิดเพลินฤทัยฟังไก่ประสานเสียงกัน</p>
			<p>ดอกมะลิวัลย์อวลกลิ่นระคนมณฑา</p>
			<p>โอ้ในยามนี้เพลินหนักหนาแสงทองนวลผ่องนภา</p>
			<p>แสนเพลินอุราสำราญ</p>
			<p>หมู่มวลวิหคบินผกมาแต่รังนอน</p>
			<p>เฝ้าเชยชิดช้อนลิ้มชมบัวบาน</p>
			<p>ยินเสียงบรรเลงดังเพลงขับขาน</p>
			<p>สอดคล้องกังวานซาบซ่านจับใจ</p>
     
            </div>
            <div class="col-md-6">
                <img class="img-circle" src="http://news.mthai.com/app/uploads/2016/10/aHR0cDovL3BlMS5pc2Fub29rLmNvbS9ucy8wL3VkLzQxNi8yMDgzOTEwLzE0NzY0NTE2MzkxNzIuanBn.jpg" alt="" style="width: 650px;height: 400px;">
            </div>
        </div>

</body>
</html>
